@import url('https://googleapis.com');
body{
    background-color: black ;
    color:rgb(234, 11, 126);
    font-family: 'short stack';
}
#next{
    width: 150px;
    height: 50px;
    text-decoration: none;
    border: 1px solid;
    text-align: center;
    font-size: larger;
    position: absolute;
    margin-top: 100px;
    background-color: rgb(216, 47, 134);
    color: bisque;
    border-radius: 2px;
    border: none;
}
.boyimg{
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
}
.main{
    position: relative;
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 21px;
    width: 85%;

}
#ninjago{
    height: 150px;
    width: 150px;
    text-decoration: none;
    position: absolute;
    top: 0%;

}
#ninjago img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#sugesstions{
    flex-direction: column;
    display: flex;
}
#trollhunter{
    height: 150px;
    width: 150px;
    text-decoration: none;
    top: 200px;;
    position: absolute;
}
#trollhunter img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#carmen{
    height: 150px;
    width: 150px;
    text-decoration: none;
    top: 400px;
    position: absolute;
}
#carmen img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}