@import url('https://googleapis.com');
body{
    background-color: black ;
    color:rgb(234, 11, 126);
    font-family: 'short stack';
}
#next{
    width: 150px;
    height: 50px;
    text-decoration: none;
    border: 1px solid;
    text-align: center;
    font-size: larger;
    position: absolute;
    margin-top: 100px;
    background-color: rgb(216, 47, 134);
    color: bisque;
    border-radius: 2px;
    border: none;
}
.boyimg{
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
}
.main{
    position: relative;
    height: 1000px;
    width: 1000px;
    left: 500px;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 21px;
    width: 85%;

}
#ninjago{
    height: 150px;
    width: 150px;
    text-decoration: none;
    position: absolute;
    top: 0%;

}
#ninjago img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#sugesstions{
    flex-direction: column;
    display: flex;
    margin-left: 20px;
}
#trollhunter{
    height: 150px;
    width: 150px;
    text-decoration: none;
    top: 200px;;
    position: absolute;
}
#trollhunter img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#carmen{
    height: 150px;
    width: 150px;
    text-decoration: none;
    top: 400px;
    position: absolute;
}
#carmen img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#hollow{
    width: 150px;
    height: 150px;
    text-decoration: none;
    top: 600px;
    position: absolute;
}
#hollow img{
    pointer-events: none;
    width: 100%;
    height: 100%;
}
#wizards{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 800px;
    text-decoration: none;
}
#wizards img{
    pointer-events: none;
    width: 100%;
    height: 100%;
}
#a{
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
    opacity: 0;
    position: absolute;
    top:0;
    transition: opacity 0.3s ease;
    z-index: -1;
}
#b{
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
    opacity: 0;
    z-index: -1;
    position:absolute;
    top:0;
    transition: opacity 0.3s ease;
}
#c{
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    transition: opacity 0.3s ease;
}
#d{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0%;
    display: block;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: -1;
}
#e{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
#img1{
    pointer-events: none;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}
.text2{
    position: absolute;
    top: 0;
    left:250px;
    text-align: center;
    font-size: 21px;
    width: 1000px;
    color:rgb(253, 0, 173);
    resize: none;
    background:black;
}
.back{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    color: black;
    font-family: 'short stack';
    position: absolute;
    left: 500px;
    top: 900px;
    text-decoration: none;
    align-items: center;
}
